<!-- Footer -->
<footer class="footer">
</footer>

<!-- Modal -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="title" style="font-size: 20px;">Update</span>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <!-- This will be replaced with the AJAX form -->
      </div>
    </div>
  </div>
</div>
