<!-- Navbar -->
<nav class="navbar bd-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <i class="glyphicon glyphicon-euro"></i>
        Daily Pay
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>