<!-- Navbar -->
<nav class="top-navbar bd-navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="<%= active_class_condition(!params[:controller].include?("admin/")) %>"><a href="<%= transactions_path %>"><span class="fa fa-tachometer"></span> Dashboard</a></li>
      <li class="<%= active_class_condition(params[:controller].include?("admin/")) %>"><a href="<%= admin_budgets_path %>"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
    </ul>
  </div>
</nav>