<!-- Navbar -->
<nav class="top-navbar bd-navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="<%= active_class(tags_reports_path) %>"><a href="<%= tags_reports_path %>"><span class="fa fa-tags"></span> All tags</a></li>
    </ul>
  </div>
</nav>